{:succession/snapshot-version 1, :staging/observation-counts {}, :staging/text-rewrites {}, :staging/tier-proposals {}, :staging/created-cards [], :staging/merge-proposals [], :staging/contradiction-ids []}